In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

Part 1

In [5]:
r = requests.get('https://en.wikipedia.org/wiki/FTSE_100_Index')
r #succcesful

In [35]:
#bz beautiful soup
soup = BeautifulSoup(r.text)
#soup
tabsoup = soup.find_all('tr')
#tabsoup

In [28]:
#get table from wiki
def readtbl (link):
    table = pd.read_html(link,match='EPIC')
    return table

tab=readtbl('https://en.wikipedia.org/wiki/FTSE_100_Index')
print (tab)

[               Company  EPIC FTSE Industry Classification Benchmark sector[12]
0                   3i   III                                Financial Services
1        Admiral Group   ADM                                 Nonlife Insurance
2   Anglo American plc   AAL                                            Mining
3          Antofagasta  ANTO                                            Mining
4        Ashtead Group   AHT                                  Support Services
..                 ...   ...                                               ...
95            Unilever  ULVR                                    Personal Goods
96    United Utilities   UU.                      Gas, Water & Multi-utilities
97      Vodafone Group   VOD                         Mobile Telecommunications
98           Whitbread   WTB                                Retail hospitality
99             WPP plc   WPP                                             Media

[100 rows x 3 columns]]

In [32]:
for row in tab.rows
    print(row['c1'])

SyntaxError: invalid syntax (<ipython-input-32-9400acd0d7e0>, line 1)

In [27]:
df = pd.DataFrame(tab)
print(df)

                                                   0
0                 Company  EPIC FTSE Industry Cla...

Part2

In [38]:
r2 = requests.get('https://ies-midterm.soulution.rocks/')
r2 #response is 403

In [43]:
r21 = r2.json()
r21

{'message': 'Missing Authentication Token'}

In [66]:
def getcode(link):
    r3 = requests.post(link, json={"cuni":"98972060"})
    d=r3.json() #response is 502
    return(d['data']['personal_code'])
getcode('https://ies-midterm.soulution.rocks/login')

'52621f6e83'

In [62]:
def getdata (link):
    r4 = requests.get(link)
    d=r4.json()
    return
getdata('https://ies-midterm.soulution.rocks/data/{data_code}')

In [ ]:
def getdata2 (

In [ ]:
requests.post(url, data={key: value}, json={key: value}, args)

Part3